hostname = bootpreload.uve.weibo.com, wbapp.uve.weibo.com, adstrategy.biz.weibo.com, sdkmonitor.biz.weibo.com, sdkclick.biz.weibo.com

^https?:\/\/bootpreload\.uve\.weibo\.com\/v2\/ad\/preload url script-response-body https://raw.githubusercontent.com/ghghqq/weibo-qx-rules/refs/heads/main/weibo_ad_cleanup.js
^https?:\/\/wbapp\.uve\.weibo\.com\/wbapplua\/wbpullad\.lua url script-response-body https://raw.githubusercontent.com/ghghqq/weibo-qx-rules/refs/heads/main/weibo_ad_cleanup.js
^https?:\/\/adstrategy\.biz\.weibo\.com\/v3\/strategy\/ad url script-response-body https://raw.githubusercontent.com/ghghqq/weibo-qx-rules/refs/heads/main/weibo_ad_cleanup.js
^https?:\/\/sdkmonitor\.biz\.weibo\.com\/expose-monitor url reject
^https?:\/\/sdkclick\.biz\.weibo\.com\/click url reject
